.footer{
    padding: 50px 68px;
  img{
width: 150px;
    margin: 15px 0 0 0;
  }
  p{
    color: #45536B;
    font-size: 16px;
  }
  .inner-list{
    padding: 28px 14px;
    li{
       font-size: 17px;
    font-weight: 300;
    padding: 3px 0px;
    cursor: pointer;
    }
  }
}
.copy-right{
  background-color: #0D2187;
  .d-flex{
    justify-content: space-between;
    margin: 0 30px;
  ul{
    margin: 14px 5px;
    li{
      margin: 0 5px;
      cursor: pointer;
    }
  }
  p{
        color: #fff;
    font-weight: 100;
    font-size: 13px;
    margin: 17px 0;
  }
}
}
@media (max-width:991px){
  .footer .inner-list li {
    font-size: 12px;
}
.footer p {
    font-size: 11px;
}
.footer {
    padding: 38px 10px;
}
}
@media (max-width:768px){

}
@media (max-width:1024px){
  .footer {
    padding: 50px 22px;
}
}
@media (max-width:575px){
  .copy-right .d-flex {

    flex-direction: column
}
.footer-icon{
  .d-flex{
        flex-direction: row;
    justify-content: center;
  }
}
.copyright-2020{
  text-align: center;
}
}
