@import "../varibale";
@mixin Boxer-button {
  color:$white;
    background-color: transparent;
    background-image: none;
    border-color: $white;
    padding: 7px 30px;
    border-radius: 0;
}
.navbar{
	z-index: 1000;
  width: 100%;
  height: 60px;
  padding: 18px;
  position: fixed!important;
  background-color: transparent;
	-webkit-transition: all ease-out .5s;
  -moz-transition: all ease-out .5s;
  -o-transition: all ease-out .5s;
  transition: all ease-out .5s;
}
  .navbar-expand-lg .navbar-nav .nav-link {
    color:$white!important;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 300;
}
.navbar-brand{
  img{
    width: 118px;
  }
}
.nav-item{
  .button{
  color:$white;
    background-color: transparent;
    background-image: none;
    border-color: $white;
    padding: 7px 30px;
    border-radius: 0;
    margin: 0 0 0 6px;
  }
  .button:hover{
  background-color: $white;
  color: $base-primary;
  }
}
@media (max-width:991px){
.header-overlay .nav-item .button {
    color:$white;
    background-color: $header-button;
    background-image: none;
    border-color:$white;
    margin: 11px 10px;
}
.navbar-dark .navbar-brand {
    padding: 5px 18px;
}
}
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1003; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #fffffff7; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  img{
        width: 118px;
    position: absolute;
    top: 15px;
    left: 25px;
  }
  button{
   @include Boxer-button;
       background-color: #0d2287;
  }
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: white;
  border: none;
  background-color: transparent;
}
.openbtn:hover {
  background-color: #444;
}
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
  background-color: #0d2287;
      display: flex;
    justify-content: space-between;
        position: fixed;
    width: 100%;
    z-index: 1001;
}
.close-btn{
cursor: pointer;
    color: #8b98a9!important;
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 68px;}
  .sidebar a {font-size: 14px;}
}
