.header-overlay{
  background-color:#0D2187;
  .navbar{
    padding: 27px 50px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 300;
}
.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.96);
    border-color: rgba(255, 255, 255, 0.94);
}
 img{
  width: 118px;
}
.nav-item{
  .button{
  color:#fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
    padding: 7px 22px;
    border-radius: 0;
  }
  .button:hover{

  background-color: #fff;
  color: #0D2187;
  }
}
}
