
//GLOBAL COLOR VARIABLES
$white: #FFFFFF !default;
$black: #000000 !default;
$base-primary: #0D2187 !default;
$base-secondary: #0d2287 !default;
$base-golden: #D3AE29 !default;
$header-button:#3C5BFF!default;
$base-light: #45536B !default;
$base-lighter: #BBC1CE !default;
$base-gray-dark: #F3F4F6 !default;
$base-gray-light: #E7EAED !default;
$base-gray-white: #F9F9FA !default;
$heading-color: #273245!default;
$base-box-shadow:#DCE6F5!default;
$background-color:#F7FBFF!default;
$border-color:#ccc!default;
