
//GLOBAL COLOR VARIABLES
$white: #FFFFFF !default;
$black: #000000 !default;
$base-primary: #0D2187 !default;
$base-secondary: #0d2287 !default;
$base-golden: #D3AE29 !default;
$header-button:#3C5BFF!default;
$base-light: #535d73 !default;
$base-lighter: #BBC1CE !default;
$base-gray-dark: #F3F4F6 !default;
$base-gray-light: #E7EAED !default;
$paragraph-color: #535d73!default;
$heading-color: #273245!default;
$base-box-shadow:#DCE6F5!default;
$background-color:#F7FBFF!default;
$border-color:#ccc!default;
$navlink-color:#45536b!default;
