@import "./Modules/header";
@import "./Modules/footer";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import "./fonts";
@import "./varibale";
body{
font-family: myFirstFont!important;
}
$bg-color:$base-primary;
$para-color: #45536B;
@mixin Boxer-button {
  color:$white;
    background-color: transparent;
    background-image: none;
    border-color: $white;
    padding: 7px 22px;
    border-radius: 0;
}
@mixin heading {
    font-weight: 600;
}

.overlay-div{
  h1{
    color: $white;
  @include heading
  }
  p{
 font-size: 15px;
    color: $white;
    margin: 22px 0px;
  }
  .button{
    @include Boxer-button
  }
  .button:hover{
  background-color: $white;
  color: $base-primary;
  }
  .m-4{
    margin-bottom: 30px;
  }
.img-div{
  text-align: right;
    img{
max-width:100%;
height: auto;
  }
}
.text-div{
  padding: 54px 56px;
}
}
.container-bg-color{
  background-color: $base-gray-dark;
  .brand-9{
    display: flex;
    justify-content: center;
  }
  .logs{
        padding: 30px;
        img{
          width: 100px;
          height: 30px;
        }

  }
    .sound-cloud{
          width: 150px!important
        }
  .heading{
    h3{
    font-weight: 600;
    }
    p{
      color: #45536B;
    }
  }
  .business-1{
    background-color: $white;
    box-shadow: 0px 3px 6px #DCE6F5;
border-radius: 5px;
width: 80%;
margin: 0 auto;
min-height: 210px;
span{
  font-weight: 600;
}
.paragraph p{
  color: #45536B;
}
}
.business-tools{
  background-color: $white;
  box-shadow: 0px 3px 6px #DCE6F5;
  border-radius: 5px;
  min-height: 185px;
  margin: 8px 2px;
  .Tools{
  img{
    width: 35px;
  }
  span{
        font-weight: 800;
  }
}
}

  }
.Succeed-your-business{
    background-color:$white;
    .inner-data{
      width: 60%;
      margin: 0 auto;
      .heading{
        margin-bottom: 50px;
      }
      .col-md-6{
        margin-bottom: 50px;
        h5{
          font-weight: 600;
          color: #273245;
        }
        p{
          color: #45536B;
          font-size: 14px;
        }
          .shipment-img{
        img{
          width: 175px;
        }
      }
      }
  }
  .progress-div{
    background-color: $base-primary;
        color: $white;
    padding: 10px;
          p{
            font-size: 14px;
          }
  }
  .pricing{
    background-color: #F7FBFF;

    .inner-pricing-div{
      box-shadow: 0px 3px 6px #DCE6F5;
      border-radius: 5px;
      .user-div{
          border-bottom: 1px solid #ccc;
    padding: 27px;
      }
      .place-order-button{
        .button{
          @include Boxer-button;
          color: $base-primary;
          border: 1px solid $base-primary ;
        }
      }
      .order-list{
        li{
           padding:7px 0 7px 80px;
            font-size: 14px;
            font-weight: 200;
        i{
          margin-right: 10px;
          color: $base-primary;
          font-size: 14px;
        }
      }
      }
    }
  }
  .company-intro{
    img{
      max-width: 100%;
    }
    .detail-img{
      background-color: $base-primary;
    color: $white;
    border-radius: 0px 10px 10px 0px;
          padding: 11px 40px;

    p{
      font-size: 14px;
    font-weight: 100;
    }
    }
    .customer-says{
      .reviews{
     box-shadow: 7px 7px 10px #0000001A;
        background-color: #F7FBFF;
         border: 1px solid #BACEE4;
         border-radius: 5px;
        p{
          color: #45536B;
           font-size: 13px;
             line-height: 28px;
            margin-top: 20px;
              font-weight: 300;

        }
        .img-info{
          margin: 7px 13px;
          h6{
            font-weight: 400;
    font-size: 15px;
    margin: 0;
          }
          span{
            font-weight: 100;
                font-size: 12px;
          }
        }
      }
    }
        h5{
          color:#45536B;
        }
  }
  .Ask-question{
    background-color: #F7FBFF;
       padding: 20px;
    .panel{
      padding: 20px 0;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
.panel-title > a:before {
    float: left !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 30px;
    font-size: 20px;
    color: #273245;
}
.panel-title > a.collapsed:before {
    float: left !important;
    content:"\f067";
}
.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus  {
    text-decoration:none;
}
.panel-title a{
  color: #273245;
    font-size: 20px;
}
  }
.started-business{
  background-color: $base-primary;
  color: $white;
  padding: 35px;
    text-align: center;
     .started-buttons {
          justify-content: center;
    align-items: center;
    button{
      @include Boxer-button;
    }
    button:hover{
      background-color: $white;
      color:$base-primary ;
    }
    }
}
}

@media (max-width: 1200px) {
.Succeed-your-business .company-intro .detail-img {
    padding: 2px 8px;
    p{
   font-size: 13px;
    }
}
}
@media (max-width: 1024px) {

.Succeed-your-business .pricing .inner-pricing-div .order-list li {
    padding: 7px 0 7px 60px;
}
.Succeed-your-business .pricing .inner-pricing-div .user-div {
    padding: 15px;
}
.Succeed-your-business .company-intro .customer-says .reviews {
    padding: 10px!important
}
.overlay-div h1 {
    color: $white;
    font-weight: 600;
    font-size: 30px;
}
}

@media (max-width: 991px) {

.overlay-div .text-div {
    padding: 0px 30px;
}
.container-bg-color .business-tools {
    width: 100%;
    padding: 10px!important;
    font-size: 13px;

}
.progress-div .container .row .col-md-4 {
    color: $white;
    padding: 42px 7px;
}
.pricing .inner-pricing-div .user-div {
    padding: 11px;

}
  .pricing-detail{
    .p-4{
    padding: 15px !important;
    font-size: 25px;
    }
    h5{
      font-size: 14px;
    }
  }
      .pricing .inner-pricing-div .order-list li {
    padding: 7px 0 7px 22px
}
.Succeed-your-business .company-intro .customer-says .reviews p {
    font-size: 10px;
    line-height: 24px;
    margin-top: 5px;
}
.img-info {
    margin: 0px 3px !important;
}
.started-business{
 .heading{
   h1{
         font-size: 26px;
    margin: 9px 0;
   }
 }
}
.overlay-div p {
    font-size: 13px;
    color: $white;
    margin: 10px 0px;
}
.overlay-div h1 {
    font-size: 24px;
}
}
@media (max-width: 768px) {

.overlay-div h3 {
    font-size: 20px;
}
.overlay-div .text-div {
    padding: 0px 27px;
    text-align: center;
    .started-buttons{
      justify-content: center;
    }
}
.img-div{
  display: flex;
  justify-content: center;
}

.pricing h1{
      font-size: 27px;
}
.Succeed-your-business .company-intro .customer-says .reviews {
    margin: 5px 2px;
}
.client-info{
  justify-content: center;
}
.Succeed-your-business .pricing .inner-pricing-div .order-list li {
    padding: 5px 20px;
}
.Succeed-your-business .company-intro{
h1{
  font-size: 17px;

}
  h5 {
    font-size: 14px;
}
}
.Freq-heading {
  h1{
    font-size: 26px;
  }
}
.started-business{
  .heading{
    h1 {
    font-size: 19px;
    margin: 9px 0;
}
h6{
  font-size: 12x;
}
}
}
}
@media (max-width: 767px) {
.container-bg-color .business-tools {
    padding: 25px !important;
        margin: 8px 0;
}
.Succeed-your-business .inner-data .col-md-6 h5,.Succeed-your-business .inner-data .col-md-6 p {
    text-align: center;
}
.Succeed-your-business .Ask-question .panel-title a {
    font-size: 14px;
}
.Succeed-your-business .Ask-question .panel-title > a:before {
    padding: 10px 7px;
    font-size: 14px;
}
.Succeed-your-business .inner-data {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}
.company-intro {
  .d-flex{
    flex-direction: column;
  }
}
.Succeed-your-business .company-intro .customer-says .reviews .img-info {
    margin: 7px 3px;
    text-align: center;
}
.Succeed-your-business .company-intro .detail-img {
    border-radius: 0;
    padding: 20px
}
}

.header-color{
  background-color: $white;
}
