@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
.navbar {
  z-index: 1000;
  width: 100%;
  height: 60px;
  padding: 18px;
  position: fixed !important;
  background-color: transparent;
  -webkit-transition: all ease-out .5s;
  transition: all ease-out .5s;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #FFFFFF !important;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 300;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.96);
  border-color: transparent !important;
}

.navbar-brand img {
  width: 118px;
}

.nav-item .button {
  color: #FFFFFF;
  background-color: transparent;
  background-image: none;
  border-color: #FFFFFF;
  padding: 7px 30px;
  border-radius: 0;
  margin: 0 0 0 6px;
}

.nav-item .button:hover {
  background-color: #FFFFFF;
  color: #0D2187;
}

.lines-button {
  position: relative;
  float: right;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 46px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.lines-button:focus {
  outline: none;
}

.lines-button span {
  display: block;
  position: absolute;
  left: 18px;
  right: 18px;
  height: 8px;
  background: #FFFFFF;
  border-radius: 0.57143rem;
}

.lines-button span::before,
.lines-button span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #bdbcbc;
  border-radius: 0.57143rem;
  content: "";
}

.lines-button span::before {
  top: -15px;
}

.lines-button span::after {
  bottom: -15px;
}

.lines {
  background: none;
  display: none;
}

.lines span {
  -webkit-transition: background 0s 0.3s;
  transition: background 0s 0.3s;
}

.lines span::before,
.lines span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
}

.lines span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
}

.lines span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
}

.lines.close {
  background: none;
}

.lines.close span {
  background: none;
}

.lines.close span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.lines.close span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.lines.close span::before,
.lines.close span::after {
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}

@media (max-width: 991px) {
  .lines {
    display: block;
  }
  .header-overlay .nav-item .button {
    color: #FFFFFF;
    background-color: #3C5BFF;
    background-image: none;
    border-color: #FFFFFF;
    margin: 11px 10px;
  }
  .header-overlay .navbar-expand-lg .navbar-nav .nav-link {
    color: #45536B;
  }
  .header-overlay .navbar {
    padding: 27px 0px;
  }
  .navbar-dark .navbar-brand {
    padding: 5px 18px;
  }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #45536B;
  }
  .top-border {
    border-top: 1px solid #ccc;
  }
  .bottom-border {
    border-bottom: 1px solid #ccc;
  }
}

.footer {
  padding: 50px 68px;
}

.footer img {
  width: 150px;
  margin: 15px 0 0 0;
}

.footer p {
  color: #45536B;
  font-size: 16px;
}

.footer .inner-list {
  padding: 28px 14px;
}

.footer .inner-list li {
  font-size: 17px;
  font-weight: 300;
  padding: 3px 0px;
  cursor: pointer;
}

.copy-right {
  background-color: #0D2187;
}

.copy-right .d-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 30px;
}

.copy-right .d-flex ul {
  margin: 14px 5px;
}

.copy-right .d-flex ul li {
  margin: 0 5px;
  cursor: pointer;
}

.copy-right .d-flex p {
  color: #FFFFFF;
  font-weight: 100;
  font-size: 13px;
  margin: 17px 0;
}

@media (max-width: 991px) {
  .footer .inner-list li {
    font-size: 12px;
  }
  .footer p {
    font-size: 11px;
  }
  .footer {
    padding: 38px 10px;
  }
}

@media (max-width: 1024px) {
  .footer {
    padding: 50px 22px;
  }
}

@media (max-width: 575px) {
  .copy-right .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-icon .d-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .copyright-2020 {
    text-align: center;
  }
}

@font-face {
  font-family: myFirstFont;
  src: url("Avenr-Font/Avenir-Book.ttf");
}

@font-face {
  font-family: bold-font;
  src: url("Avenr-Font/Avenir Heavy.ttf");
}

body {
  font-family: myFirstFont !important;
}

.jumbotron {
  background-color: #0D2187 !important;
  border-radius: 0 !important;
}

.active {
  background-color: #fff !important;
  -webkit-box-shadow: 0 4px 3px 0 rgba(34, 90, 182, 0.12), 0 0 1px 0 rgba(41, 92, 176, 0.25);
          box-shadow: 0 4px 3px 0 rgba(34, 90, 182, 0.12), 0 0 1px 0 rgba(41, 92, 176, 0.25);
}

.active .navbar-nav .nav-item .button {
  background-color: #0d2287 !important;
}

.active .navbar-nav .nav-item .button:hover {
  color: #fff !important;
}

.active .navbar-nav .nav-item .nav-link {
  color: #45536b !important;
}

.overlay-div h1 {
  color: #FFFFFF;
  font-family: bold-font;
}

.overlay-div p {
  font-size: 15px;
  color: #FFFFFF;
  margin: 22px 0px;
  letter-spacing: 1px;
}

.overlay-div .button {
  color: #FFFFFF;
  background-color: transparent;
  background-image: none;
  border-color: #FFFFFF;
  padding: 7px 30px;
  border-radius: 0;
}

.overlay-div .get-started-buuton {
  background-color: #FFFFFF;
  color: #0D2187;
}

.overlay-div .button:hover {
  background-color: #FFFFFF;
  color: #0D2187;
}

.overlay-div .m-4 {
  margin-bottom: 30px;
}

.overlay-div .img-div {
  text-align: right;
}

.overlay-div .img-div img {
  max-width: 100%;
  height: auto;
}

.overlay-div .text-div {
  padding: 13px 0 0 78px;
}

.container-bg-color {
  background-color: #F3F4F6;
  padding-bottom: 2em;
}

.container-bg-color .brand-9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-bg-color .logs {
  padding: 30px;
}

.container-bg-color .logs img {
  width: 100px;
  height: 30px;
}

.container-bg-color .sound-cloud {
  width: 150px !important;
}

.container-bg-color .heading h3 {
  font-weight: 600;
}

.container-bg-color .heading p {
  color: #45536B;
}

.container-bg-color .business-1 {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 6px #DCE6F5;
          box-shadow: 0px 3px 6px #DCE6F5;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  min-height: 210px;
}

.container-bg-color .business-1 span {
  font-weight: 600;
}

.container-bg-color .business-1 .paragraph p {
  color: #45536B;
}

.container-bg-color .business-tools {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 4px 3px 0 rgba(34, 90, 182, 0.12), 0 0 1px 0 rgba(41, 92, 176, 0.25);
          box-shadow: 0 4px 3px 0 rgba(34, 90, 182, 0.12), 0 0 1px 0 rgba(41, 92, 176, 0.25);
  border-radius: 5px;
  margin: 8px 2px;
  min-height: 245px;
}

.container-bg-color .business-tools .Tools {
  padding: 50px;
}

.container-bg-color .business-tools .Tools .track-shipment {
  margin-bottom: 20px;
}

.container-bg-color .business-tools .Tools img {
  width: 35px;
}

.container-bg-color .business-tools .Tools span {
  font-weight: 800;
}

.Succeed-your-business {
  background-color: #FFFFFF;
}

.Succeed-your-business .inner-data {
  width: 60%;
  margin: 0 auto;
}

.Succeed-your-business .inner-data .heading {
  margin-bottom: 50px;
}

.Succeed-your-business .inner-data .col-md-6 {
  margin-bottom: 50px;
}

.Succeed-your-business .inner-data .col-md-6 h5 {
  font-weight: 600;
  color: #273245;
}

.Succeed-your-business .inner-data .col-md-6 p {
  color: #45536B;
  font-size: 1em;
  text-align: left;
}

.Succeed-your-business .inner-data .col-md-6 .shipment-img img {
  width: 175px;
}

.Succeed-your-business .progress-div {
  background-color: #0D2187;
  color: #FFFFFF;
  padding: 10px;
}

.Succeed-your-business .progress-div p {
  font-size: 14px;
}

.Succeed-your-business .pricing {
  background-color: #F7FBFF;
}

.Succeed-your-business .pricing .inner-pricing-div {
  -webkit-box-shadow: 0px 3px 6px #DCE6F5;
          box-shadow: 0px 3px 6px #DCE6F5;
  border-radius: 5px;
}

.Succeed-your-business .pricing .inner-pricing-div .user-div {
  border-bottom: 1px solid #ccc;
  padding: 27px;
}

.Succeed-your-business .pricing .inner-pricing-div .place-order-button .button {
  color: #FFFFFF;
  background-color: transparent;
  background-image: none;
  border-color: #FFFFFF;
  padding: 7px 30px;
  border-radius: 0;
  color: #0D2187;
  border: 1px solid #0D2187;
}

.Succeed-your-business .pricing .inner-pricing-div .place-order-button :hover {
  background-color: #0D2187;
  color: #FFFFFF;
}

.Succeed-your-business .pricing .inner-pricing-div .order-list li {
  padding: 7px 0 7px 80px;
  font-size: 14px;
  font-weight: 200;
}

.Succeed-your-business .pricing .inner-pricing-div .order-list li i {
  margin-right: 10px;
  color: #0D2187;
  font-size: 14px;
}

.Succeed-your-business .company-intro .d-flex {
  padding: 20px 35px;
}

.Succeed-your-business .company-intro img {
  max-width: 100%;
}

.Succeed-your-business .company-intro .detail-img {
  background-color: #0D2187;
  color: #FFFFFF;
  border-radius: 0px 10px 10px 0px;
  padding: 20px 30px;
}

.Succeed-your-business .company-intro .detail-img p {
  font-size: 14px;
  font-weight: 100;
}

.Succeed-your-business .company-intro .customer-says {
  margin-bottom: 4em;
}

.Succeed-your-business .company-intro .customer-says .reviews {
  -webkit-box-shadow: 7px 7px 10px #0000001A;
          box-shadow: 7px 7px 10px #0000001A;
  background-color: #F7FBFF;
  border: 1px solid #BACEE4;
  border-radius: 5px;
}

.Succeed-your-business .company-intro .customer-says .reviews p {
  color: #45536B;
  font-size: 13px;
  line-height: 28px;
  margin-top: 20px;
  font-weight: 300;
}

.Succeed-your-business .company-intro .customer-says .reviews .img-info {
  margin: 7px 13px;
}

.Succeed-your-business .company-intro .customer-says .reviews .img-info h6 {
  font-weight: 400;
  font-size: 15px;
  margin: 0;
}

.Succeed-your-business .company-intro .customer-says .reviews .img-info span {
  font-weight: 100;
  font-size: 12px;
}

.Succeed-your-business .company-intro h5 {
  color: #45536B;
}

.Succeed-your-business .Ask-question {
  background-color: #F7FBFF;
  padding: 20px;
}

.Succeed-your-business .Ask-question .panel {
  padding: 20px 0;
  border-top: 1px solid #ccc;
}

.Succeed-your-business .Ask-question .panel-title > a:before {
  float: left !important;
  font-family: FontAwesome;
  content: "\f068";
  padding-right: 30px;
  font-size: 20px;
  color: #273245;
}

.Succeed-your-business .Ask-question .panel-title > a.collapsed:before {
  float: left !important;
  content: "\f067";
}

.Succeed-your-business .Ask-question .panel-title > a:hover,
.Succeed-your-business .Ask-question .panel-title > a:active,
.Succeed-your-business .Ask-question .panel-title > a:focus {
  text-decoration: none;
}

.Succeed-your-business .Ask-question .panel-title a {
  color: #273245;
  font-size: 20px;
}

.Succeed-your-business .Ask-question .panel-body {
  padding-left: 45px;
  font-size: 13px;
}

.Succeed-your-business .started-business {
  background-color: #0D2187;
  color: #FFFFFF;
  padding: 80px 0;
  text-align: center;
}

.Succeed-your-business .started-business .heading h1 {
  font-family: bold-font;
}

.Succeed-your-business .started-business .started-buttons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.Succeed-your-business .started-business .started-buttons button {
  color: #FFFFFF;
  background-color: transparent;
  background-image: none;
  border-color: #FFFFFF;
  padding: 7px 30px;
  border-radius: 0;
}

.Succeed-your-business .started-business .started-buttons button:hover {
  background-color: #FFFFFF;
  color: #0D2187;
}

.boxer-sidemenu {
  display: none;
}

@media (max-width: 1200px) {
  .Succeed-your-business .company-intro .detail-img {
    padding: 2px 35px;
  }
  .Succeed-your-business .company-intro .detail-img p {
    font-size: 11px;
  }
  .overlay-div h1 {
    font-size: 35px;
  }
  .overlay-div .text-div {
    padding: 13px 0 0 20px;
  }
}

@media (max-width: 1024px) {
  .Succeed-your-business .pricing .inner-pricing-div .order-list li {
    padding: 7px 0 7px 60px;
  }
  .Succeed-your-business .pricing .inner-pricing-div .user-div {
    padding: 15px;
  }
  .Succeed-your-business .company-intro .customer-says .reviews {
    padding: 10px !important;
  }
  .overlay-div h1 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 30px;
  }
  .overlay-div .text-div {
    padding: 13px 0 0 0px;
  }
}

#main img {
  width: 118px;
}

@media (max-width: 991px) {
  .navbar {
    display: none !important;
  }
  .boxer-sidemenu {
    display: block;
  }
  .container-bg-color .business-tools {
    width: 100%;
    padding: 10px !important;
    font-size: 13px;
  }
  .progress-div .container .row .col-md-4 {
    color: #FFFFFF;
    padding: 42px 7px;
  }
  .pricing .inner-pricing-div .user-div {
    padding: 11px;
  }
  .pricing-detail .p-4 {
    padding: 15px !important;
    font-size: 25px;
  }
  .pricing-detail h5 {
    font-size: 14px;
  }
  .pricing h1 {
    font-size: 28px;
  }
  .pricing .inner-pricing-div .order-list li {
    padding: 7px 0 7px 22px;
  }
  .Succeed-your-business .company-intro .customer-says .reviews p {
    font-size: 10px;
    line-height: 24px;
    margin-top: 5px;
  }
  .img-info {
    margin: 0px 3px !important;
  }
  .started-business .heading h1 {
    font-size: 26px;
    margin: 9px 0;
  }
  .overlay-div p {
    font-size: 13px;
    color: #FFFFFF;
    margin: 10px 0px;
  }
  .overlay-div h1 {
    font-size: 24px;
  }
  .Succeed-your-business .pricing .inner-pricing-div .order-list li {
    padding: 7px 0 7px 18px;
    font-size: 0.9em;
  }
  .Succeed-your-business .company-intro .detail-img {
    padding: 2px 6px;
  }
  .Succeed-your-business .company-intro .detail-img p {
    font-size: 0.6em;
    margin-bottom: 1.2em;
  }
  .Succeed-your-business .inner-data {
    width: 85%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .overlay-div .text-div {
    padding: 0px 27px;
    text-align: center;
  }
  .overlay-div .text-div .started-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pricing h1 {
    font-size: 27px;
  }
  .Succeed-your-business .company-intro .customer-says .reviews {
    margin: 5px 2px;
  }
  .client-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Succeed-your-business .pricing .inner-pricing-div .order-list li {
    padding: 5px 20px;
  }
  .Succeed-your-business .company-intro h1 {
    font-size: 17px;
  }
  .Succeed-your-business .company-intro h5 {
    font-size: 14px;
  }
  .Freq-heading h1 {
    font-size: 26px;
  }
  .started-business .heading h1 {
    font-size: 19px;
    margin: 9px 0;
  }
  .started-business .heading h6 {
    font-size: 12x;
  }
}

@media (max-width: 767px) {
  .container-bg-color .business-tools {
    margin: 8px 0;
  }
  .Succeed-your-business .inner-data .col-md-6 h5, .Succeed-your-business .inner-data .col-md-6 p {
    text-align: center;
  }
  .Succeed-your-business .Ask-question .panel-title a {
    font-size: 14px;
  }
  .Succeed-your-business .Ask-question .panel-title > a:before {
    padding: 10px 7px;
    font-size: 14px;
  }
  .Succeed-your-business .inner-data {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }
  .company-intro .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Succeed-your-business .company-intro .customer-says .reviews .img-info {
    margin: 7px 3px;
    text-align: center;
  }
  .Succeed-your-business .company-intro .detail-img {
    border-radius: 0 0 10px 10px;
    padding: 20px;
  }
  .Succeed-your-business .Ask-question .panel-body {
    padding-left: 26px;
    font-size: 11px;
  }
}

.header-color {
  background-color: #FFFFFF !important;
}

/* The sidebar menu */
.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1003;
  /* Stay on top */
  top: 0;
  right: 0;
  background-color: #fffffff7;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
}

.sidebar img {
  width: 118px;
  position: absolute;
  top: 15px;
  left: 25px;
}

.sidebar button {
  color: #FFFFFF;
  background-color: transparent;
  background-image: none;
  border-color: #FFFFFF;
  padding: 7px 30px;
  border-radius: 0;
  background-color: #0d2287;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: white;
  border: none;
  background-color: transparent;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
  /* If you want a transition effect */
  padding: 20px;
  background-color: #0d2287;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1001;
}

.close-btn {
  cursor: pointer;
  color: #8b98a9 !important;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 68px;
  }
  .sidebar a {
    font-size: 14px;
  }
}
/*# sourceMappingURL=styles.css.map */